.btn {
    border-radius: 30px;
    /* text-shadow: 12px 17px 7px #fa05fa;
    box-shadow: 0px 1px 3px #666666; */
    font-family: Arial;
    color: #ffffff;
    font-size: 50px;
    background: #3498db;
    /* padding: 10px 20px 10px 20px;
    border: solid #1f628d 4px;
    text-decoration: none; */
  }
  
  /* .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  } */


.container {
    display: flex;

}

.values {
   
    width: 500px;
    
}

.preview {
 
   width: 500px;
   
}