.btn {
  border-radius: 30px;
  /* text-shadow: 12px 17px 7px #fa05fa;
  box-shadow: 0px 1px 3px #666666; */
  font-family: Arial;
  color: #ffffff;
  font-size: 50px;
  background: #3498db;
  /* padding: 10px 20px 10px 20px;
  border: solid #1f628d 4px;
  text-decoration: none; */
}

body {
  width: 95%;
  margin: auto;
  font-family: Verdana;
  background: #5725b7; /* fallback for old browsers */
  background: linear-gradient(320deg, #5725b7, #4c8579);
  color: white;
  font-size: 15px;
  font-weight: 100;
}

header {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.upper {
  /* border: #000000 2px solid; */
  border-radius: 30px;
  box-shadow: 0px 0px 20px #000000;
  padding: 20px;
}

.properties {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.lower {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.code {
  width: 50%;
  margin-right: 30px;
  padding: 20px;

  /* border: black 2px solid; */
  border-radius: 30px;
  box-shadow: 0px 0px 10px #000000;
}

.preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  /* border: black 2px solid; */
  border-radius: 30px;
  box-shadow: 0px 0px 10px #000000;
  background: white;
}

footer {
  text-align: center;
}

label {
  display: inline-block;
  width: 160px;
}
ul {
  list-style-type: none;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.prop_title {
  text-align: center;
}

.side-by-side {
  display: flex;
  justify-content: space-between;
}